/* @font-face {
  font-family: "SutonnyMJ";
  src: url("/assets/fonts/SutonnyMJ/SutonnyOMJ.ttf") format("truetype"),
    url("/assets/fonts/SutonnyMJ/SutonnyMJ-Bold.ttf") format("truetype"),
    url("/assets/fonts/SutonnyMJ/SutonnyMJ-Italic.ttf") format("truetype"),
    url("/assets/fonts/SutonnyMJ/SutonnyMJ-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-sutonny {
  font-family: "SutonnyMJ", Arial, sans-serif;
} */
* {
  box-sizing: border-box;
}


/* General Styles */
.body-background {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  display: -webkit-box;
  -webkit-box: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flow-root;
  gap: 10px;
}

/* Instruction Card (Design 3) */
.card-back {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  padding: 8px;
  box-sizing: border-box;
  border:1px solid #000;
  margin:5px;
}
.instruction-card {
  width: 100%;
  background: #fff;
  /* padding: 5px; */
  border: 5px solid #fcd5b5;
  line-height: 1.5;
  text-align: center;
}

.instruction-title {
  font-size: 25px;
  margin: 0px;
  color: #000;
}
.border {
  width: 100%;
  display: flex;
  display: -webkit-box;
  -webkit-box: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  align-items: center;
  -webkit-box-align: center;
  margin-bottom: 15px;
}
.border .border1,
.border .border2 {
  height: 2px;
  width: 33%;
  background-color: #000;
}
.border2 {
  margin-top: 2px;
}

.instruction-text {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 600;
}

/* Labels */
.label {
  display: inline-block;
  padding-right: 3px;
}

/* ID Card (Design 4) */
.id-card {
  width: 300px;
  border: 2px solid #004aad;
  font-family: "SutonnyMJ", Arial, sans-serif;
  line-height: 1;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  margin:5px;
}

/* Header */
.id-card-header {
  background-color: #004aad;
  color: #fff;
  padding-bottom: 5px;
  text-align: center;
}

.id-card-title {
  margin: 0;
  font-size: 20px;
  font-style: italic;
}

/* Card Info */
.id-card-info {
  padding: 5px 15px 0px 15px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  align-items: center;
  gap: 15px;
}

.id-card-logo {
  width: 70px;
  height: 50px;
  margin-right: 10px;
}

.id-card-number {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

/* Photo */
.id-card-photo {
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.id-card-photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Personal Information */
.id-card-details {
  margin-bottom: 10px;
  padding: 13px;
}

.id-card-details p {
  margin: 5px 0;
  font-size: 18px;
}

/* Signature Section */
.signature-section {
  margin-top: 20px;
  display: flex;
  display: -webkit-box;
  justify-content: space-between;
  -webkit-box-pack: justify; /* Safari, Chrome (Old) */
  -moz-box-pack: justify; /* Firefox (Old) */
  padding: 5px 10px;
}

.signature-box {
  width: 40%;
  text-align: center;
  border-top: 1px solid #000;
}

.signature-box p {
  margin: 2px 0;
  font-size: 16px;
}

/* Footer */
.id-card-footer {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  background-color: #004aad;
  color: #fff;
  padding: 2px 0;
  font-style: italic;
}
.id-card-footer p {
  margin: 3px;
}
